<div class="navbar navbar-fixed-top" data-activeslide="1">
	<div class="container">
	
		<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		
		
		<div class="nav-collapse collapse navbar-responsive-collapse" style="margin-left: 208px;">
			<ul class="nav row">
				<li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="#slide-1" title="Next Section"><span class="icon icon-home"></span> <span class="text">HOME</span></a></li>
				<li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-2" href="#slide-2" title="Next Section"><span class="icon icon-user"></span> <span class="text">ABOUT ME</span></a></li>
				<li data-slide="3" class="col-12 col-sm-2"><a id="menu-link-3" href="#slide-3" title="Next Section"><span class="icon icon-briefcase"></span> <span class="text">PORTFOLIO</span></a></li>
				<li data-slide="6" class="col-12 col-sm-2"><a id="menu-link-6" href="#slide-6" title="Next Section"><span class="icon icon-envelope"></span> <span class="text">CONTACT</span></a></li>
			</ul>
			<div class="row">
				<div class="col-sm-2 active-menu"></div>
			</div>
		</div><!-- /.nav-collapse -->
	</div><!-- /.container -->
</div><!-- /.navbar -->


<!-- === Arrows === -->
<div id="arrows">
	<div id="arrow-up" class="disabled"></div>
	<div id="arrow-down"></div>
	<div id="arrow-left" class="disabled visible-lg"></div>
	<div id="arrow-right" class="disabled visible-lg"></div>
</div><!-- /.arrows -->


<!-- === MAIN Background === -->
<div class="slide story" id="slide-1" data-slide="1">
	<div class="container">
		<div id="home-row-1" class="row clearfix">
			<div class="col-12">
				<img src="/assets/Sabz.png" style="height: 200px; width: 300px;margin-bottom: -100px;">
				<h1 class="font-semibold" style="margin-bottom: -80px;">SABZ <span class="font-thin"> PHOTOGRAPHY</span></h1>
				<br>
				<br>
			</div><!-- /col-12 -->
		</div><!-- /row -->
		<div id="home-row-2" class="row clearfix">
			<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><img src="/assets/event.png" style="height:80px; width:80px;"></div><span>EVENT </span><br/><span>PHOTOGRAPHY</span></div>
			<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><img src="/assets/automotive.png" style="height:80px; width:80px;"></div><span>AUTOMOTIVE </span><br/><span>PHOTOGRAPHY</span></div>
			<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><img src="/assets/portfolio.png" style="height:80px; width:80px;"></div><span>PORTFOLIO </span><br/><span>PHOTOGRAPHY</span></div>
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /slide1 -->

<!-- === Slide 2 === -->
<div class="slide story" id="slide-2" data-slide="2">
	<div class="container">
		<div class="row title-row" style="padding-bottom: 0px;">
			<div class="col-12 font-thin">SABARI A J</div>
		</div><!-- /row -->
		<div class="row subtitle-row" style="padding-top: 15px;padding-bottom: 0px;">
			<div class="col-12 font-thin">Freelance Photographer</span></div>
		</div><!-- /row -->
		<div class="row subtitle-row" style="padding-top: 15px;">
			<div class="col-12 font-thin">Exp - 4 years</span></div>
		</div><!-- /row -->
		<div class="row line-row">
			<div class="hr">&nbsp;</div>
		</div><!-- /row -->
		<div class="row subtitle-row" style="margin-bottom: -50px !important;">
			<div class="col-12 font-thin">Expertise In</span></div>
		</div><!-- /row -->
		<div class="row content-row">
			<div class="col-12 col-lg-3 col-sm-6">
				<p><img src="/assets/Adobe-Photoshop-Logo.png" style="height: 50px;width: 50px;"></p>
				<h2 class="font-semibold">Adobe Photoshop</h2>
			</div><!-- /col12 -->
			<div class="col-12 col-lg-3 col-sm-6">
				<p><img src="/assets/adobe-lightroom-logo1.jpeg" style="height: 50px;width: 50px;"></p>
				<h2 class="font-semibold">Adobe Lightroom</h2>
			</div><!-- /col12 -->
			<div class="col-12 col-lg-3 col-sm-6">
				<p><img src="/assets/colorefexpro-icon.png" style="height: 50px;width: 50px;"></p>
				<h2 class="font-semibold">Photoeffex</h2>
			</div><!-- /col12 -->
			<div class="col-12 col-lg-3 col-sm-6">
				<p><img src="/assets/nik-logo.png" style="height: 50px;width: 50px;"></p>
				<h2 class="font-semibold">Nic Color Efex</h2>
			</div><!-- /col12 -->
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /slide2 -->

<!-- === SLide 3 - Portfolio -->
<div class="slide story" id="slide-3" data-slide="3">
	<div class="row">
		<div id="myCarousel" class="carousel slide" style="margin-left:10px;">
		    <div class="carousel-inner">
			    <div class="item active">
			        <img src="assets/DSC_0046.jpg" alt="" style="height: 600px; width: 1000px;">
			    </div>
			    <div class="item">
			        <img src="assets/DSC_0124.jpg" alt="" style="height: 600px; width: 1000px;">
			    </div>
			    <div class="item">
			        <img src="assets/DSC_0165.jpg" alt="" style="height: 600px; width: 1000px;">
			    </div>
			    <div class="item">
			        <img src="assets/DSC_0192.jpg" alt="" style="height: 600px; width: 1000px;">
			    </div>
			    <div class="item">
			        <img src="assets/DSC_1996.jpg" alt="" style="height: 600px; width: 1000px;">
			    </div>
			    <div class="item">
			        <img src="assets/DSC_0201.jpg" alt="" style="height: 600px; width: 450px;">
			    </div>
			    <div class="item">
			        <img src="assets/DSC_0166.jpg" alt="" style="height: 600px; width: 1000px;">
			    </div>
			    <div class="item">
			        <img src="assets/DSC_0322.jpg" alt="" style="height: 600px; width: 1000px;">
			    </div>
			    <div class="item">
			        <img src="assets/DSC_0602.jpg" alt="" style="height: 600px; width: 1200px;">
			    </div>
			    <div class="item">
			        <img src="assets/DSC_0135.jpg" alt="" style="height: 600px; width: 450px;">
			    </div>
			    <div class="item">
			        <img src="assets/DSC_0333.jpg" alt="" style="height: 600px; width: 450px;">
			    </div>
			    <div class="item">
			        <img src="assets/DSCF0271.jpg" alt="" style="height: 600px; width: 450px;">
			    </div>
		    </div>
		    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	  </div>
	</div><!-- /row -->
</div><!-- /slide3 -->

<!-- === Slide 6 / Contact === -->
<div class="slide story" id="slide-6" data-slide="6" style="padding-bottom: 0px;margin-top: -60px;">
	<div class="container">
		<div class="row title-row">
			<img src="/assets/DSC_1814.jpg" style="height:200px; width:200px;">
			<div class="col-12 font-light">You can leave me a <span class="font-semibold">message</span></div>
		</div><!-- /row -->
		<div class="row line-row">
			<div class="hr">&nbsp;</div>
		</div><!-- /row -->
		<div id="contact-row-4" class="row">
			<div class="col-sm-1 hidden-sm">&nbsp;</div>
			<div class="col-12 col-sm-2 with-hover-text">
				<p><a target="_blank" href="#"><i class="icon icon-phone"></i></a></p>
				<span class="hover-text font-light ">+918289837014</span></a>
			</div><!-- /col12 -->
			<div class="col-12 col-sm-2 with-hover-text">
				<p><a target="_blank" href="#"><i class="icon icon-envelope"></i></a></p>
				<span class="hover-text font-light ">sabarikool@gmail.com</span></a>
			</div><!-- /col12 -->
			<div class="col-12 col-sm-2 with-hover-text">
				<p><a target="_blank" href="#"><i class="icon icon-home"></i></a></p>
				<span class="hover-text font-light ">Kerala, India</span></a>
			</div><!-- /col12 -->
			<div class="col-12 col-sm-2 with-hover-text">
				<p><a target="_blank" href="#"><i class="icon icon-facebook"></i></a></p>
				<span class="hover-text font-light ">facebook/sabz.cam</span></a>
			</div><!-- /col12 -->
			<div class="col-12 col-sm-2 with-hover-text">
				<p><a target="_blank" href="#"><i class="icon icon-twitter"></i></a></p>
				<span class="hover-text font-light ">@BlackTie_co</span></a>
			</div><!-- /col12 -->
			<div class="col-sm-1 hidden-sm">&nbsp;</div>
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /Slide 6 -->
<script>
	$(document).ready(function(e) {
		var lis = $('.nav > li');
		menu_focus( lis[0], 1 );
		
		$(".fancybox").fancybox({
			padding: 10,
			helpers: {
				overlay: {
					locked: false
				}
			}
		});	
	});
	$(function () {
	   $('#myCarousel').carousel({ interval: 2000 })
	});
</script>